<html>
    <head>
        <title>My alternate metlink app</title>
        <!-- placeholder, change name later --!>
    </head>
    <body>
        <form method="POST" action="">
            <label>Add Bus Stops</label><br>
            <input type="text" name="stops" placeholder='Enter Bus stop name here'><br>
            <label>Pick background color</label><br>
            <input type="color" name="colour">
            <input type="submit">
        </form>
        <h3><a href="/">Back</a></h3>
    </body>
</html>
