<html>
    <head>
        <title>The Phat Controller</title>
        <meta http-equiv="refresh" content="60">
        <style>
            body {
                background-color: {{ colour }};
                font-family: monospace;
            }

            h1 {
                text-align: center;
                font-size:8em;
            }
        </style>
    </head>
    <body>
        <h1>The Phat Controller</h1>
        <ul>
            {% for id, time in times.items() %}
            <li>{{ id }}: {{ time }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
